<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Medios de Pago</h2>
                    <p>Tarjeta de Crédito, Tarjeta de Débito o en Efectivo</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Regalá Música</h2>
                    <p></p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Garantía</h2>
                    <p>Ofrecemos un mes de garantía en todos los productos desde la realización de tu compra.</p>
                </article>
            </div>
        </div>
    </div>
</footer>

</body>
</html>