


	<!-- Header -->
	<%- include('./partials/header.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form>
					<div class="formularioLogin">
					  <label for="usuario" class="visually-hidden">Usuario</label>
					  <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@usuario.com">
					</div>
					<div class="formularioLogin">
					  <label for="inputPassword2" class="visually-hidden">Contraseña</label>
					  <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
					</div>
					<div class="formularioLogin">
					  <button type="submit" class="btn btn-primary mb-3">Recordarme</button>
					</div>
				  </form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->
