


	<!-- Header -->
	<%- include('./partials/header.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/users/login" method="POST" class="formularioLogin">
					<div>
						<label for="usuario" class="formulario">Email:</label>
						<input id="usuario" type="email" name="email" placeholder="Escribe tu email" required>
					</div>
					<div>
						<label for="contraseña" class="formulario">Contraseña:</label>
						<input id="contraseña" type="text" name="password" placeholder="Escribe tu contraseña" required>
					</div>



					<div>
						<button type="submit" class="formularioBoton">Iniciar sesión</button>
					</div>
					<div>
						<button type="submit" class="formularioBoton">Recordarme</button>
					</div>
				  </form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->
