


	<!-- Header -->
	<%- include('./partials/header.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="" method="get" class="formularioLogin">
					<div>
						<label for="usuario" class="formulario">Usuario:</label>
						<input id="usuario" type="text" name="usuario" placeholder="Escribe tu usuario">
					</div>
					<div>
						<label for="contraseña" class="formulario">Contraseña:</label>
						<input id="contraseña" type="text" name="contraseña" placeholder="Escribe tu contraseña">
					</div>
					<div>
						<button type="submit" class="formularioBoton">Iniciar sesión</button>
					</div>
					<div>
						<button type="submit" class="formularioBoton">Recordarme</button>
					</div>
				  </form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->
