<!-- Header -->
<%- include('./partials/headerLogueado') %>
	<!-- /Header -->



	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="/my-handling-form-page" method="post">
					<ul>
						<li>
							<label for="name">Nombre del producto</label>
							<input type="text" id="name" name="user_name">
						</li>

						<li>
							<label for="img">Imagen del producto</label>
							<file id="img" type="image/" name="user_file"></file>

						</li>

						<li>
							<label for="msg">Descripción:</label>
							<textarea id="msg" name="user_message"></textarea>
						</li>
					</ul>
				</form>
			</h2>


			<!-- footer -->
			<%- include('./partials/footer.ejs') %>
				<!-- /footer -->