<!-- Header -->
<%- include('./partials/headerLogueado') %>
	<!-- /Header -->



	<body>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="subtitulo">Editar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>
				<% if(locals.errores){  %> 
					<p style> <%= errores.message %> </p>
				<% } %> 

<!-- agrega value para que te traiga la info vieja para editar -->
<form class="formLogin" method="POST" enctype="multipart/form-data" action="/productos/editar">

				<div >
					<input type="text"  placeholder="Instrumento" class="inputs" name="producto">
				</div>

				<div >
					<input type="text"  placeholder="Descripcion del producto" class="inputs" name="descripcion">
				</div>
		
				<div>
					<input type="file"  placeholder="imagen" class="inputs" name="imagen">
			
				</div>

				<button> Editar producto </button>
			</form>
			</h2>


			<!-- footer -->
			<%- include('./partials/footer.ejs') %>
				<!-- /footer -->