
	<!-- Header -->
	<%- include('./partials/header.ejs') %>
	<!-- /Header -->

	<body>

		<form action="/users/register" method="POST" >
				
			<input type="text" name="name" placeholder="nombre" value="">
			<div>
				<input type="email" name="email" placeholder="email" value="">
			</div>
			<div>
				<input type="password" name="password" placeholder="contraseña" value="">
			</div>
			<div>
				<input type="password" name="retypePassword" placeholder="repetir contraseña" value="">
			</div>
			<div>
				<input type="date" name="fecha" placeholder="fecha de nacimiento" value=""> 
			</div>
			<div>
				<input type="text" name="dni" placeholder="DNI" value=""> 
			</div>

			<!-- <div>
				<input type="file" name="avatar">
			</div> -->
			<button type="submit">Registrarme</button>
		</form>
	
	</body>


	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->
